body {
    font-family: "Helvetica",sans-serif;
}

header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}

.headLogo {
    color: white;
    font-family: "cyberpunk",sans-serif;
}

.sec2 {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
}

.sec2button {
    width: 90px;
    height: 25px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #3882F6;
}

.mainP {
    margin-top: -5px;
}

.sec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chars {
    display: flex;
    flex-direction: row;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.sec4 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

.quoteAuthor {
    display: flex;
    justify-content: flex-end;
    width: 800px;
}

.quote {
    font-size: 30px;
}

.author {
    font-size:large;
    font-weight: bold;
}

.sec5 {
    display: flex;
    background-color: #3882F6;
    border: 50px solid white;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.CTA {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.sec5button {
    width: 90px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    background-color: #3882F6;
}

.mainText{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}

.mainIMG {
    width: 480px;
    height: 270;
    display: inline-block;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 8%;
}

.pfp {
    width: 234px;
    height: 288px;
    border-radius: 10px;
    border: 5px solid #3882F6;
}

.copyright {
    font-size: 10px;
}

@font-face {
    font-family: "cyberpunk";
    src: url(fonts/Cyberpunk.ttf) format("truetype");
}
